html {
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background: #131417; }

*, *:before, *:after {
  box-sizing: border-box;
  color: #FFFFFF; }

.l-flex {
  display: flex; }

.l-align-center {
  align-items: center; }

.l-justify-space-between {
  justify-content: space-between; }

.l-justify-content-center {
  justify-content: center; }

.l-flex-wrap {
  flex-wrap: wrap; }

.l-sidebar {
  min-width: 188px; }

.l-header {
  display: flex; }

.l-main {
  display: block;
  width: 100%; }

.l-seciton {
  display: block;
  width: 100%;
  margin: 32px 0; }

.badge {
  text-transform: uppercase;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  background-color: #ffdd40;
  margin: 0 0 0 4px;
  padding: 2px 4px;
  border-radius: 5px; }

.button {
  text-align: center;
  border-radius: 4px;
  display: block;
  padding: 8px 16px; }
  .button:hover {
    opacity: 0.3; }

.button-gray {
  background-color: #444857;
  color: #fff; }

.button-green {
  background-color: #47cf73;
  color: #000; }

.start-button {
  border: 3px solid transparent;
  padding: 0;
  width: 154px;
  margin: 0 auto;
  background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background: -moz-linear-gradient(-25deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
  background: -webkit-linear-gradient(-25deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b); }

.start-button-text {
  display: block;
  color: #fff;
  padding: 8px;
  background-color: #000;
  width: 100%; }

.form-button {
  min-width: 100px;
  margin-right: 8px; }

.hero-button {
  width: 200px;
  font-size: 1.4em; }

.product-item-list-button {
  border: 3px solid #aaaebc;
  padding: 8px 16px;
  margin: 1.5px; }

.card {
  margin: 2rem 1rem;
  width: 360px; }

.card-description h4 {
  font-size: 1.17rem; }

.post-card {
  position: relative;
  border-radius: 4px;
  background: #2c303a;
  padding: 8px 12px; }
  .post-card a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .post-card img {
    width: 100%;
    border-radius: 4px; }
  .post-card:hover {
    opacity: 0.6;
    transform: scale(1.05);
    transition: .2s; }

.post-card-capture {
  width: 100%;
  margin: auto; }

.post-card-body {
  padding: 10px 3px 20px; }
  .post-card-body h4 {
    margin: 0;
    padding: 0; }

.post-card-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px; }

.post-card-footer {
  padding: 5px 0 0 5px; }
  .post-card-footer i {
    margin-right: 2px; }

.post-card-response {
  display: inline-block;
  padding: 2px 4px;
  margin-right: 4px;
  background-color: #000;
  border-radius: 4px; }

.product-item-list {
  margin-top: 100px;
  margin-bottom: 2rem; }

.product-item-body {
  max-width: 1200px;
  margin: 0 auto; }

.product-item-footer {
  width: 100%; }

.hero-code-cards {
  width: 495px;
  height: 410px;
  margin: 16px auto;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
  border-radius: 6px; }

.hero-code-card {
  position: relative;
  margin-right: 35px;
  margin-left: auto;
  margin-bottom: 8px;
  width: 300px;
  height: 140px;
  border-radius: 5px;
  border: 0;
  font-size: 13px;
  background-color: #1d1e22;
  padding: 3px 8px 8px 8px; }

.over-top {
  margin-top: -20px; }

.over-right {
  margin-right: -25px; }

.code-yellow {
  color: #e1ca72; }

.code-brown {
  color: #a88038; }

.code-purple {
  color: #9f8198; }

.code-green {
  color: #74b087; }

.code-blue {
  color: #7a99ad; }

.hero-code-card-title {
  padding: 0;
  margin-bottom: 5px; }
  .hero-code-card-title h4 {
    display: inline-block;
    margin: 0 0 0 8px; }
  .hero-code-card-title i {
    font-size: 0.9rem;
    margin: 0; }

.hero-code-card-body > p {
  margin-top: 0;
  margin-bottom: 0; }

.text-margin-left-0 {
  margin-left: 0; }

.text-margin-left-1 {
  margin-left: 2rem; }

.text-margin-left-2 {
  margin-left: 4rem; }

.cursor {
  animation: blink 1s infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.features-card {
  position: relative;
  width: 360px;
  height: 340px;
  margin: 1rem; }

.feature-icon {
  position: relative;
  top: 32px;
  left: 16px;
  width: 64px;
  height: 64px;
  border: 0;
  border-radius: 4px;
  font-size: 48px;
  background: #000;
  text-align: center; }

.features-back-card {
  height: 340px;
  border: 0;
  border-radius: 4px;
  padding: 30px;
  background: #2c303a; }
  .features-back-card p {
    color: #b7bbc8; }

.feature-footer {
  display: block; }

.footer {
  background: #000;
  padding: 35px 0; }

.footer-nav {
  margin-left: 2rem; }

.footer-nav-ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 1px; }
  .footer-nav-ul li {
    margin-right: 1rem; }

.footer-nav-title {
  margin: 1px; }

.footer-info {
  height: 100%;
  margin-right: 32px; }

.copyright {
  margin-left: 10px; }

.hero {
  margin: 32px; }

.hero-explanation {
  width: 50%;
  padding: 32px; }
  @media (max-width: 1200px) {
    .hero-explanation {
      width: 100%; } }

.hero-explanation-title {
  justify-between: space-between; }
  .hero-explanation-title > i {
    font-size: 36px; }
  .hero-explanation-title > h3 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0; }

.header-formbar {
  background-color: #252830;
  border-radius: 4px;
  width: 100%;
  margin: 8px;
  padding: 8px;
  font-size: 20px; }

.formbar-input {
  margin-left: 16px;
  font-size: 20px;
  background-color: #252830;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  border: 0; }

.formbar i {
  font-size: 36px; }

.header-buttons {
  padding: 8px; }

.sidebar-logo {
  font-size: 30px;
  text-align: center; }

.footer-logo {
  font-size: 2rem;
  font-weight: 400;
  text-align: center; }

.sidebar {
  background-color: #1f1f26; }
  @media (max-width: 576px) {
    .sidebar {
      display: none; } }

.sidebar-menu {
  list-style: none;
  padding-left: 0; }
  .sidebar-menu a {
    padding-left: 16px;
    display: block; }
    .sidebar-menu a:hover {
      background-color: #000; }

.sidebar-li-title {
  padding-left: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin: 10px 0 3px 0; }

.start {
  text-align: center; }

.start-text {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: .2em; }

.text-gray {
  color: #b7bbc8; }

.text-yellow {
  color: #ffdd40; }

.text-green {
  color: #47cf73; }

.text-blue {
  color: #0ebeff; }

.text-white {
  color: #ffffff; }

.text-deepgray {
  color: #A5A5A5; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }
